{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  /* create blank canvas */
  .md-main {
    max-height: 0;
  }

  .md-main__inner {
    margin: unset;
  }

  /* hero style */
  .hero {
    flex: 2;
    position: relative;

    background-color: hsla(232, 15%, 21%, 1);
  }

  .hero-teaser {
    position: absolute;
    bottom: 3.2rem;

    margin: 0 0.8rem;

    color: #fff;
  }

  .hero-teaser h1 {
    margin-bottom: 0;

    color: inherit;
    font-weight: 700;
  }

  .hero-teaser .md-button {
    color: #fff;
  }

  .hero-teaser .md-button--primary {
    background-color: #db1457;
    border-color: #db1457;
  }

  /* feature style */
  .feature {
    flex: auto;
    position: relative;

    background-color: #fff;
  }
</style>

<section class="hero">
  <div class="md-grid">
    <div class="hero-teaser md-typeset">
      <h1>Hero teaser</h1>

      <p>Example paragraph</p>

      <a class="md-button md-button--primary"> Get started </a>

      <a class="md-button"> Learn more </a>
    </div>
  </div>
</section>

<section class="feature">
  <div class="feature-item"></div>
</section>
{% endblock %}

<!-- create blank canvas -->
{% block content %} {% endblock %}
